<div ="clearfix">
  <form role="form">
  <div class="form-group">
      <label for="nameText">Name</label>
      <input class="form-control" id="nameText" ng-model="item.name" required>
    </div>
    <div class="form-group">
      <label for="nameAlias">Alias</label>
      <input class="form-control" id="nameAlias" ng-model="item.alias">
    </div>
    <div class="form-group">
      <label for="nameAddress">Address</label>
      <input class="form-control" id="nameAddress" ng-model="item.address">
    </div>
    <div class="form-group">
      <label for="nameLink">Link</label>
      <input class="form-control" id="nameLink" ng-model="item.link">
    </div>
    <br />
    <div>
      <button class="btn btn-primary" ng-click="save()">Save</button>
      <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary pull-right" ng-hide="isNew" ng-click="delete()">Delete</button>
    </div>
    <br />
  </form>
</div>