<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<title>每周一碗线 人生别无他求</title>
		<script src="https://code.angularjs.org/1.6.1/angular.js"></script>
		<script src="https://code.angularjs.org/1.6.1/angular-route.js"></script>
		<script src="https://code.angularjs.org/1.6.1/angular-resource.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
		<script src="javascripts/mixianApp.js"></script>	
	</head>
	<body ng-app="mixianApp">
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip(); 
		});
	</script>
		<div id='main' class="container">
			<nav class="navbar-fluid navebar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-text"><a href="#!">Collection</a></div>
					<div class="navbar-text"><a href="#!/people">People</a></div>
				</div>
			</nav>
            <h3 class="text-center">米线帮</h3>
			</br>
			<div class="col-md-offset-2 col-md-8">
				<div ng-view>
				</div>
			</div>
		</div>
		<div class="text-center small"><p>Proudly powered by AWS DynamoDB and ECS.</p></div>
	</body>
</html>